<!--Navbar-->
<nav class="navbar navbar-dark default-color justify-content-between">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Películas App</a>
    <div class="form-inline my-1">
      <div class="md-form form-sm my-0">
        <input #txtBuscar
          (keyup.enter)="buscarPelicula( txtBuscar.value )"
          class="form-control form-control"
          type="search"
          placeholder="Buscar película"
          aria-label="Search"
        />
      </div>
      <button (click)="buscarPelicula(txtBuscar.value)" class="btn btn-outline-white my-0 text-white" type="submit">
        Buscar
      </button>
    </div>
  </div>
</nav>
