<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let movie of movies" [ngStyle]="{
      'background-size':'cover',
      'background-image':'url(http://image.tmdb.org/t/p/w500' + movie.backdrop_path +')'
    }">
      <div class="movies-description">
        <h3>{{ movie.title }}</h3>
        <p>
          {{ movie.overview | slice: 0:150 }}
        </p>
      </div>
    </div>
  </div>
  <!-- Add Arrows -->
  <div class="swiper-button-next" (click)="onSlideNext()"></div>
  <div class="swiper-button-prev" (click)="onSlidePrev()"></div>
</div>
